/* start rules */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

li{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: inherit;
} */

/* end rules */

body {
    height: 5000px;
}

/* 
.parent{
    background-color: black;
    color: green;
    position: absolute;
    width: 300px;
    height: fit-content;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    
} */

nav {
    position: fixed;
    background-color: burlywood;
    height: 50px;
    width: 100%;
    z-index: 1;
    margin: 0;
    top: 0;
}

nav .container ul {
    display: flex;
    margin-left: 20px;
}

nav .container ul li {
    display: flex;
    margin-left: 20px;
}

.parent {
    width: 300px;
    height: 300px;
    background-color: black;
    position: relative;
    margin-top: 60px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
}

button {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 50px;
}